@font-face {
  font-family: '千圖馬克手寫體';
  src: url('../assets/fonts/千圖馬克手寫體.ttf');
}

@font-face {
  font-family: '粉圓體';
  src: url('../assets/fonts/粉圓體.ttf');
}

* {
  font-family: '粉圓體';
  color: #404040;
  h2 {
    color: #333;
  }
}
