@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: '千圖馬克手寫體';
  src: url("../assets/fonts/千圖馬克手寫體.ttf");
}

@font-face {
  font-family: '粉圓體';
  src: url("../assets/fonts/粉圓體.ttf");
}

* {
  font-family: '粉圓體';
}

* h2 {
  color: #333;
}

.hero-banner h1,
.hero-banner p {
  font-family: '千圖馬克手寫體';
  color: white;
}

.hero-banner .swiper-bg1 {
  background: url("../assets/images/Hero-banner1.jpeg") no-repeat;
  background-position: bottom;
}

.hero-banner .swiper-bg2 {
  background: url("../assets/images/Hero-banner2.jpeg") no-repeat;
  background-position: bottom;
}

.hero-banner .swiper-bg3 {
  background: url("../assets/images/Hero-banner3.jpeg") no-repeat;
  background-position: center;
}

.hero-banner .swiper-bg4 {
  background: url("../assets/images/Hero-banner4.jpeg") no-repeat;
  background-position: bottom;
}

.hero-banner .swiper-bg5 {
  background: url("../assets/images/Hero-banner5.jpeg") no-repeat;
  background-position: center;
}

.hero-banner .banner-swiper .swiper {
  width: 100%;
  height: 100%;
}

.hero-banner .banner-swiper .swiper-slide {
  background-position: center;
  background-size: cover;
}

.hero-banner .banner-swiper .swiper-slide img {
  display: block;
  width: 100%;
}

.introduction-swiper .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.introduction-swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 300px;
}

.introduction-swiper .swiper-slide img {
  display: block;
  width: 100%;
}

.activity-swiper .swiper {
  width: 100%;
  height: 100%;
}

.activity-swiper .swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.activity-swiper .swiper-slide img {
  display: block;
  width: 300;
  height: 350;
  -o-object-fit: cover;
     object-fit: cover;
}

.dialog-swiper .swiper {
  width: 100%;
  height: 100%;
}

.dialog-swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dialog-swiper .swiper-slide img {
  display: block;
  width: 800;
  height: 600;
  -o-object-fit: cover;
     object-fit: cover;
}

.dialog-swiper .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.dialog-swiper .swiper-slide {
  background-size: cover;
  background-position: center;
}

.dialog-swiper .mySwiper2 {
  height: 80%;
  width: 100%;
}

.dialog-swiper .mySwiper {
  height: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
}

.dialog-swiper .mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.dialog-swiper .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.dialog-swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #333;
}
/*# sourceMappingURL=all.css.map */